@{
    ViewData["Title"] = "Галерия";
}

<div class="calendar-hero mb-5">
    <p class="eyebrow">AVTO SIANIE</p>
    <h1>Галерия</h1>
    <p>Виж част от нашата работа и резултати.</p>
</div>

<div class="gallery-grid">
    <img src="/images/gallery/gallery1.jpg" />
    <img src="/images/gallery/gallery2.jpg" />
    <img src="/images/gallery/gallery3.jpg" />
    <img src="/images/gallery/gallery4.jpg" />
    <img src="/images/gallery/gallery5.jpg" />
    <img src="/images/gallery/gallery6.jpg" />
</div>
